.input {
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
	font-size: 1.4rem;
	background-color: #000000;
	color: #ffffff;
	padding: .5rem;
	border-bottom: 1px solid #888888;
	width: 96.5%;
}